.weather-container{
    // background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), url("../../../assets/images/hand-drawn-seamless-pattern-related-weather-theme-sun-clouds-snowflakes-wind-rain-moon-lightning-doodle-sketch-vector-illustration-background-design_333145-414.jpg");
   background-color: #36435A;
    height: 100svh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
    height: 70vw;
    width: 70vw;
    font-size: 2.5rem;
    color: #36435A;   
    border: none;
    background: #F1C94A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.result-container{
    height: 100svh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #36435A;
}

.temperature{
    font-size: 4rem;
    text-align: center;
    color: white;
    width: 80vw;
}

.form{
    font-size: 1rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.input{
    width: 80%;
    height: 40px;
    margin: 5px;
    font-size: 17px;
}
