.form{
    background-color: #36435A;
    height: 100svh;
  width: 100vw;
  padding: 2rem;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
    width: 80%;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
}

.btn{
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #FD8762;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
}